# Activate this using: "sudo systemctl enable /var/www/html/workbook/resources/ewb-update.service"

[Unit]
Description=EWB Update at Boot
Wants=network-online.target
After=network-online.target

[Service]
User=elk_user
Type=oneshot
ExecStart=/bin/bash /var/www/html/workbook/resources/workbook-update.sh > /dev/null

[Install]
WantedBy=multi-user.target